html,
body {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
  font-family: 'Poppins', sans-serif
}

button,textarea,input{
  font-family: 'Poppins', sans-serif
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html,body{
  width:100%;
  height:100%;
}

input,textarea{
  border:none;
  outline:none;
  color:transparentize($color: #fff, $amount: 0.4);
}
button{
  border:none;
}
#__next{
  height: 100%;
  width: 100%;
}

.push_down_resume{
  margin-top:20px
}